@model VibExchange.Models.UserRegisterViewModel

@{
    ViewBag.Title = "EmailVerification";
    Layout = "~/Views/Shared/_VibExchangeLayout.cshtml";
}

<h2>EmailVerification</h2>

@using (Html.BeginForm("EmailVerification", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row" style="padding-left: 40px">
        <div class="form-group ">
            @Html.LabelFor(model => model.EmailVerification, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.EmailVerification, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EmailVerification, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="col-md-offset-2">
            <input type="submit" value="Verify" class="btn btn-success" />
        </div>
    </div>


}